/* settings
----------------------------------------------------------------------------------------------------------------------*/

// paths
$img-path: '/assets/images/';
$font-path: '/assets/fonts/';
// $svg-path : '../svgs/';

/* fonts
----------------------------------------------------------------------------------------------------------------------*/

$font-play: 'Play';
$font-source-sans: 'Source Sans Pro';
$font-skolar: 'skolar-sans-latin-extended';
$font-amnesty: 'Amnesty Trade Gothic Cn';

/* colors
----------------------------------------------------------------------------------------------------------------------*/

$white: #fff;
$black: #000;
$confetti: #e8d558;
$rolling-stone: #7b7c7e;
$cinnabar: #e7512b;
$westar: #e2ddd5;
$cape-cod: #374240;
$outer-space: #2e3836;
$cream: #fbfaf9;

/* foundation
----------------------------------------------------------------------------------------------------------------------*/

$global-width: 1700px;
$row-width: $global-width;

$body-background: $white;
$body-font-color: $outer-space;
$body-font-family: $font-source-sans;
$breakpoint-classes: (small medium large xlarge xxlarge xxxlarge huge);
$breakpoints: ( small: 0, medium: 768px, large: 1024px, xlarge: 1200px, xxlarge: 1440px, xxxlarge: 1600px, huge: 1920px );
$grid-column-gutter: ( small: 48px, medium: 32px, );


/* dependencies
----------------------------------------------------------------------------------------------------------------------*/
// tilde is needed in the import path string to allow for an advanced mechanism to resolve files in webpack to handle
// the relative paths in foundation
@import "~foundation-sites/scss/foundation.scss";
@import "_functions";
